body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: black;
}
/* <!-- SEARCH BAR AND CART SECTION starts here--> */
#sear_cart {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.container {
  width: 90%;
  margin: auto;
}

#searchbar {
  font-size: 0;
  margin-right: 500px;
}
#searchbar-1 {
  width: 230px;
  height: 30px;
  border: 1px solid #cacad3;
  padding: 4px;
  border-right: white;
  border-radius: 4px;
}
#searchbar-1::placeholder,
#searchbar-2::placeholder {
  padding-left: 10px;
}
#searchbar-2 {
  width: 320px;
  height: 30px;
  border: 1px solid #cacad3;
  padding: 4px;
  border-left: white;
  border-radius: 3px;
}
#cart {
  padding: 10px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #cacad3;
  font-size: 14px;
}
#cart > i {
  margin-right: 10px;
}
#cartpop {
  border: 1px solid #cacad3;
  position: absolute;
  right: 44px;
  margin-top: 45px;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 9;
  display: none;
}
#cartpop_head {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cacad3;
  display: flex;
  padding-bottom: 15px;
}
.your_cart {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
#test_num {
  margin-top: 10px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
}

#cartitem_div {
  width: 100%;
  margin-top: 3px;
}
.item_maindiv {
  width: 100%;
  height: 99px;
  padding-left: 10px;
  padding-top: 15px;
}
.itemname {
  font-weight: 700;
  font-size: 15px;
}
.itemprice {
  margin-right: 35px;
}
.item_pricediv {
  height: 25px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}
#logo_div {
  width: 95%;
  height: 23px;
  font-size: 13px;
  display: flex;
  margin-top: 15px;
}
#logo_div > img {
  width: 50px;
  height: 23px;
}
#logo_div > :nth-child(2) {
  width: 95px;
  height: 23px;
  margin-top: 5px;
  margin-left: 3px;
}
#coupon_apply {
  width: 95%;
  height: 49px;
  border: 1px dashed rgb(180, 180, 190);
  color: #414146;
  margin-left: 8px;
}
.apply_btn {
  font-size: 16px;
  font-weight: 700;
}
.apply_rightarr {
  font-size: 20px;
  float: right;
  margin-right: 10px;
}
#coupon_apply_innerdiv {
  margin-top: 13px;
  margin-left: 10px;
}
.gift_icon {
  font-size: 20px;
  margin-right: 3px;
}
#pickup_charge {
  width: 253px;
  height: 28px;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f5;
  margin-left: 12px;
}
#pickup_charge_innerdiv {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}
#pickup_charge_amt {
  margin-right: 15px;
}
#totalamnt {
  width: 280px;
  height: 40px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: #f7f7fa;
}
#totalamnt_innerdiv {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
}
#totalamnt_amt {
  margin-left: 170px;
}
#proceed_btn {
  width: 253px;
  height: 39px;
  background-color: #30932f;
  margin: auto;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
}
#proceed_btn_txt {
  padding-top: 10px;
}
#proceed_link {
  text-decoration: none;
  cursor: pointer;
}
/* <!-- SEARCH BAR AND CART SECTION ends here--> */

/* <!-- FIRST IMAGE BOX STARTS HERE    --> */
#first_imgdiv {
  margin-top: 23px;
}
#first_imgdiv > img {
  width: 100%;
}
.sec_two {
  height: 84px;
  width: 100%;
  background-color: #28328c;
  margin-top: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
#booktest {
  width: 428.69px;
  margin-left: 24px;
  display: flex;
}
#sectwo_img {
  margin-top: 10px;
  width: 56px;
}
#sectwo_img > img {
  width: 100%;
}
#sectwo_txt {
  width: 328px;
  color: #fff;
  line-height: 5px;
  padding-top: 8px;
  padding-left: 20px;
  word-spacing: 1px;
}
#sectwo_txt > p {
  font-size: 13px;
}
#contact {
  border: dashed #747ed4;
  border-radius: 7px;
  width: 214.11px;
  height: 34px;
  margin-top: 14px;
  margin-right: 24px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#h2sec_three,
#h2sec_four {
  margin-top: 40px;
}
.call {
  font-size: 20px;
  margin-right: 3px;
}

/* THIRD SECTION SLIDER */
#slider_sec3,
#slider_sec4 {
  width: 100%;
}
.sec3_slidbox {
  border: 1px solid #f0f0f5;
  margin-right: 12px;
}
.sec3_txtdiv > #Lipid_txt {
  height: 28px;
}
.sec3_txtdiv > h3,
h4,
h5 {
  padding-left: 10px;
}
.sec3_adddiv {
  color: #14bef0;
  text-align: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}
#slider_sec3 h4 {
  font-size: 14px;
  font-weight: 700;
}
#slider_sec3 h3 {
  font-size: 18px;
  font-weight: 700;
}
#slider_sec3 h5 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(45, 45, 50);
}
.slid3_left-arrow {
  font-size: 12px;
  position: absolute;
  top: 35%;
  left: -28px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
.slid3_right-arrow {
  font-size: 12px;
  position: absolute;
  top: 35%;
  right: -15px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
/* FOURTH SECTION SLIDER */

.sec4_slidbox {
  margin: auto 40px auto 40px;
}
.sec4_slidbox > h5 {
  text-align: center;
}
.slid4_left-arrow {
  font-size: 12px;
  position: absolute;
  top: 25%;
  left: -25px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
.slid4_right-arrow {
  font-size: 12px;
  position: absolute;
  top: 25%;
  right: -18px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
#sortbtn {
  height: 37px;
  display: flex;
}
#sortbtn > div {
  text-align: center;
  margin-right: 13px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 18px;
  border: 1px solid #b4b4be;
  background-color: #f5f6f7;
  line-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
/* <!-- FIFTH SECTION starts here --> */
.sec5_slider {
  margin-top: 18px;
  width: 100%;
}
.sec5_sliderbox {
  border: 1.5px solid #ebebeb;
  margin-right: 40px;
}
.sec5_slider_img > img {
  width: 100%;
}
.sec5_slider_title {
  line-height: 5px;
  padding-left: 10px;
}
.sec5_slider_title > h3 {
  font-size: 20px;
  font-weight: 600;
  color: #414146;
  font-style: normal;
  line-height: 25px;
}
.sec5_slider_title > p {
  color: #787887;
  font-size: 15px;
}
.sec5_slider_tstbtn {
  color: #414146;
  font-size: 14px;
  border: 1px solid #f0f0f5;
  max-width: 160px;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 16px;
  margin-left: 15px;
}
.sec5_slider_tstbtn > h4 {
  margin-top: 12px;
  margin-right: 28px;
}
.sec5_slider_footer {
  width: 341px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 20px;
  padding-bottom: 13px;
  border-top: 1px solid #f0f0f5;
}
.sec5_slider_amtdiv {
  font-size: 20px;
  font-weight: 600;
  color: #414146;
}
.sec5_slider_amtdiv > :nth-child(1) {
  color: #b4b4be;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 4px;
}
.sec5_slider_amtdiv > :nth-child(2) {
  color: #00a500;
  font-size: 14px;
  margin-left: 6px;
}
.sec5_slider_cshbkdiv {
  color: #00a500;
  font-size: 14px;
  margin-top: 3px;
}
.sec5_slider_bookbtn {
  height: 18px;
  width: 70px;
  background-color: #14bef0;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin-top: 5px;
  margin-right: 8px;
}
.seperator_sec5 {
  background-color: rgb(224, 224, 224);
  height: 10px;
  width: 100%;
  border: transparent;
  margin-top: 15px;
}
.seperator_sec5 + h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
}
.slid5_left-arrow {
  font-size: 12px;
  position: absolute;
  top: 40%;
  left: -35px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
.slid5_right-arrow {
  font-size: 12px;
  position: absolute;
  top: 40%;
  right: 5px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
/* <!-- SIXTH SECTION starts here --> */
#sec6_text {
  width: 377px;
  margin-top: 12px;
  color: #2d2d32;
  font-size: 14px;
  line-height: 19px;
}
#sec6_imgbox {
  width: 1164px;
  height: 132px;
  margin-top: 20px;
  display: flex;
}
.sec6_img {
  border: 1px solid #d7d7e0;
  width: 168px;
  height: 100px;
  border-radius: 8px;
  margin-right: 17px;
  display: flex;
}
.sec6_img > img {
  width: auto;
  height: 50%;
  margin-left: 35px;
  margin-top: 20px;
}
.seperator_sec6 {
  margin-top: 15px;
  background-color: rgb(224, 224, 224);
  height: 10px;
  width: 100%;
  border: transparent;
}
/* <!-- SEVENTH SECTION starts here --> */
#head_sec7 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
#head_sec7 + div {
  color: #4a4a53;
  font-size: 14px;
}
#head_sec7 + div > span {
  color: #14bef0;
}
/* SECTION SEVEN SLIDER */
.sec7_mainwrap {
  margin-left: 10px;
  border: 1px solid #f0f0f5;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 5px;
  padding-top: 25px;
  width: 382px;
  height: 435px;
}
.sec7_wrap1 {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  width: 382px;
  height: 75px;
}
.sec7_wrap1 > img {
  height: 36px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 8px;
}
.sec7_wrap2 {
  flex-direction: column;
  border-bottom: 1px solid #f0f0f5;
  padding: 15px;
  width: 382px;
  height: 50px;
}
.sec7_wrap2 > :nth-child(2) {
  font-size: 12px;
  color: #787887;
  line-height: 20px;
}
.sec7_wrap2 > :nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  white-space: normal;
  color: #2d2d32;
}
.sec7_mainwrap > button {
  height: 36px;
  width: 130px;
  text-align: center;
  font-size: 16px;
  background-color: #199fd9;
  border: 1px solid #199fd9;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 20px;
}
.slid7_left-arrow {
  font-size: 12px;
  position: absolute;
  top: 48%;
  left: -15px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
.slid7_right-arrow {
  font-size: 12px;
  position: absolute;
  top: 48%;
  right: -25px;
  height: 28px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgb(51 60 63 / 22%);
  text-align: center;
  z-index: 99;
  padding-top: 13px;
  border-radius: 50%;
}
/* <!-- EIGHTTH SECTION starts here --> */
#sec8_wrapper {
  height: 352px;
  width: 100%;
  margin-top: 25px;
  background-color: #f6f6f9;
}
#sec8_wrap1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding-top: 50px;
}
#sec8_wrap2 {
  display: flex;
  margin-top: 25px;
}
.sec8_imgtxt {
  display: flex;
  margin-left: 100px;
}
.sec8_img {
  margin-top: 21px;
}
.sec8_txt > h5 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 3px;
}
.sec8_txt > p {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 8px;
}

/* <!-- NINTH SECTION starts here --> */
#sec9_wrapper {
  height: 270px;
}
#sec9_wrap1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 160px;
}
#sec9_wrap2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 90px;
}
#sec9_wrap2 > div > img {
  margin-left: 45%;
}
#sec9_wrap2 > div > p {
  text-align: center;
  margin-top: 7px;
  color: #2d2d32;
  font-size: 15px;
  line-height: 20px;
}
#sec9_wrap2 > span {
  border-top: 1px solid rgb(120, 120, 135);
  flex-grow: 0.07;
  color: #787887;
  margin-top: 10px;
}
/* TENTH SECTION STARTS HERE            */
#sec10_wrapper {
  background-color: #f6f6f9;
  padding-top: 70px;
  height: 290px;
}
#sec10_wrap1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
#sec10_wrap2 {
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 90px;
}
.sec10_imgtxt > img {
  margin-left: 33%;
  margin-top: 38px;
}
.sec10_imgtxt > h2 {
  text-align: center;
  margin-top: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
/* <!-- ELEVENTH SECTION starts here --> */
#sec11_head {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 60px;
}
/* <!-- ELEVENTH SECTION SLIDER--> */
.sec11_slidertxt1 {
  width: 1193px;
  margin: auto;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.sec11_slidertxt2 {
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;
}
.sec11_slidertxt1 > span {
  font-size: 40px;
  font-weight: bold;
}
.slick-dots {
  position: absolute;
  bottom: -50%;
  left: 45%;
}
.slick-dots li {
  display: inline-block;
  margin-right: 2px;
  height: 20px;
  width: 20px;
}
.slick-dots li button {
  font-size: 0;
  height: 4px;
  width: 4px;
  padding: 4px;
  border: 1px solid #787887;
  background-color: transparent;
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: #787887;
}
/* <!-- TWELTH SECTION starts here --> */
#sec12_mainwrap {
  height: 533px;
  background-color: #f6f6f9;
  margin-top: 85px;
  display: flex;
  justify-content: space-evenly;
}
#sec12_wrap {
  height: 463px;
  padding-top: 35px;
  margin-left: 50px;
}
#imgdiv > img {
  width: 250px;
}
#appdiv {
  width: 420px;
  height: 400px;
  margin-top: 20px;
  padding-top: 70px;
  margin-right: 50px;
}
#appdiv > :nth-child(1) {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#appdiv > :nth-child(2) {
  font-size: 16px;
  margin-top: 17px;
  font-weight: 700;
}
#appdiv > :nth-child(3) {
  color: #787887;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  margin-top: 14px;
}
#appdiv > :nth-child(4) {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  margin-top: 40px;
}
#appdiv > :nth-child(5) {
  height: 35px;
  display: flex;
  margin-top: 10px;
}
#appdiv_phno > span {
  border-right: 1px solid rgb(211, 211, 211);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 14px;
}
#appdiv_phno {
  border-radius: 3px;
  height: 35px;
  background-color: #fff;
  padding-top: 5px;
  border: 1px solid #f0f0f5;
}
#appdiv_phno > input {
  padding: 7px;
  border: none;
}
#appdiv_phno > input:hover {
  border: none;
}
#appdiv_phno + button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background-color: #199fd9;
  color: #fff;
  border: 1px solid #199fd9;
  border-radius: 4px;
  margin-left: 10px;
  font-weight: 700;
}
.appdiv_store {
  margin-top: 46px;
  border-radius: 6px;
  margin-right: 5px;
}
.sec13_txtwrap {
  height: 367px;
  width: 1180px;
  margin: auto;
  color: #414146;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  margin-top: 25px;
}
#sec14_wrap {
  font-size: 12px;
  color: #787887;
  text-align: center;
  margin-top: 30px;
  height: 36px;
}
#sec14_wrap > a {
  color: #14bef0;
  text-decoration: none;
}
/* Navigation bar */

#NavBar {
  display: grid;
  grid-template-columns: 12% 50% 20% 9%;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #f0f0f5;
}

#NavBar > .NavFirstSection {
  width: 95%;
  align-items: center;
  margin-top: 10px;
}

#NavBar > .NavFirstSection > a > img {
  width: 72%;
}

#NavBar > .NavSecondSection {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

#NavBar > .NavSecondSection > a {
  width: 20%;

  text-decoration: none;
}

#NavBar > .NavSecondSection > a > div > h4 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 550;
  color: #2d2d32;
  margin-bottom: 2px;
}

#NavBar > .NavSecondSection > a > div > p {
  font-size: 12px;
  color: #787887;
  margin-top: 2px;
  margin-left: 10px;
}
#NavBar > .NavSecondSection > a > div > h4:hover {
  color: #112092;
}

#NavBar > .NavThirdSection > ul > li {
  color: #414146;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}

#NavBar > .NavThirdSection > ul {
  align-items: center;
  display: flex;
  position: relative;
  list-style: none;
  gap: 30px;
  padding-left: 0px;
}
.NavThirdSection > ul > li > i {
  margin-left: 4px;
}

#forProvidersmanu,
#Securitysmanu {
  display: none;
}

#forProvider:hover #forProvidersmanu {
  display: block;
  width: 230px;
  margin-left: -100px;
  position: absolute;
  left: 100;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#SecurityHelpNav:hover #Securitysmanu {
  display: block;
  width: 230px;
  margin-left: -60px;
  position: absolute;
  left: 100;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.samenav2 > ul {
  list-style: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}
.samenav2 > ul > a > li {
  margin: 10px 0px;
  padding: 15px;
}
#new {
  background-color: rgb(255, 174, 0);
  font-size: 12px;
  padding: 6px;
  color: #fff;
  float: right;
  margin-right: 20px;
  margin-top: -2px;
}

.samenav2 > ul > a > li:hover {
  background-color: #f0f1f4;
}

#NavBar > .NavFourSection > .loginSignUp > a > button {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  background-color: transparent;
  color: #787887;
  border-radius: 4px;
  border: solid 1px#d3d3d3;
  padding: 8px 10px;
}

#NavBar > .NavFourSection > .loginSignUp > a > button:hover {
  border: solid 1px#00d9ff;
  color: #00d9ff;
}

.second4Text {
  border-bottom: 5px solid #14bef0;
}

/* Footer  */

#HomeFooterSection {
  z-index: 5;
  padding: 50px;
  background-color: #28328c;
}

.footersection1 {
  display: flex;
  margin-bottom: 50px;
}

.footers1t {
  margin-left: 80px;
  width: 15%;
  text-align: center;
  text-align: left;
}

.footers1t > h2 {
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}

.footers1t > ul {
  padding-left: 0px;
}

.footers1t > ul > a {
  font-weight: 400;
  color: #fff;
}

.footers1t > ul > a:hover {
  text-decoration: underline;
}

.footers1t > ul > a > li {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 10px;
  list-style: none;
}

.footer2sectio {
  margin-top: 50px;
  text-align: center;
  margin: auto;
}

.footer2sectiontextcopy {
  margin-top: 20px;
  text-align: center;
  color: rgb(252, 252, 252);
}
.footer2sectiontextcopy > h3 {
  font-size: 14px;
}


#NavBar>.NavFourSection>.loginSignUp>a>button:hover {
    border: solid 1px#00d9ff;
    color: #00d9ff;
}

