* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}


/* NavBar Css part start */

#NavBar {
    display: grid;
    grid-template-columns: 11% 45% 17% 10%;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

#NavBar>.NavFirstSection {
    width: 95%;
    align-items: center;
}

#NavBar>.NavFirstSection>img {
    width: 72%;
}

#NavBar>.NavSecondSection {
    display: flex;
    gap: 12px;
    cursor: pointer;
}



#NavBar>.NavSecondSection>div {
    width: 40%;
    padding: 4px;
}

#NavBar>.NavSecondSection>div>h4 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 550;
    color: #2d2d32;
}

#NavBar>.NavSecondSection>div>p {
    font-size: 12px;
    color: #787887;
}
#NavBar>.NavSecondSection>div>h4:hover{
    color: #112092;
}

#NavBar>.NavThirdSection > ul > li{
    color: #414146;
    font-size: 14px;
    padding: 8px;
    font-weight: 200;
    cursor: pointer;
}


#NavBar>.NavThirdSection > ul{
    align-items: center;
    display: flex;
    position: relative;
    list-style: none;
    gap:0px;
}

#forProvidersmanu , #Securitysmanu{
    display: none;

}

#forProvider:hover #forProvidersmanu{

    display: block;
   width: 230px;
    margin-left: -100px;
    position: absolute;
    left:100;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#SecurityHelpNav:hover #Securitysmanu{
    display: block;
    width: 230px;
     margin-left: -60px;
     position: absolute;
     left:100;
     background-color: #ffffff;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.samenav2 > ul {
    list-style: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
.samenav2 > ul > li {
    margin: 10px 0px;
    padding: 15px;
}
#new{
    background-color: rgb(255, 174, 0);
    font-size: 12px;
    padding: 6px;
    color: #fff;
   float: right;
   margin-right: 20px;
   margin-top: -2px;
}


.samenav2 > ul > li:hover{
   background-color: #F0F1F4    ;
}

#NavBar>.NavFourSection>.loginSignUp>a>button {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #787887;
    border-radius: 4px;
    border: solid 1px#d3d3d3;
    padding: 8px 10px;
}

#NavBar>.NavFourSection>.loginSignUp>a>button:hover {
    border: solid 1px#94dfec;
    color: #00d9ff;
}


/* NavBar Css part end */

/* sign up container */

#titlePartOfLoginPage{
    display: flex;
    color: #787887;
    padding: 2%;
}

#spSignup {
    width: 60%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    min-height: 100%;
    margin: auto;
}


.secondary-nav {
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    border-bottom: 1px
 solid rgba(216,216,216,0.5);
 padding: 20px;


}
#loginLink, #registerLink{
    text-decoration: none;
    color: #4A4A4A;
}
/* common container */

#commonContainer{
    display: flex;
    padding: 50px;
}
#leftImagePart {
   width: 50%;
}

#loginPageRight{
    width: 50%;
    border-bottom: 1px
     solid rgba(245, 242, 242, 0.5);
   
}
.loginPageRight > div {
    width: 40%;
    border: solid 1px
     rgba(216,216,216,0.5);
        border-radius: 4px;
}
#leftImagePart > img {
   
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    
}


/* right login part */


form > div {
    padding: 4%;
}

label, select {
    color: #84848f;
    padding: 2%;
    font: weight 2px;;
}


input{
    padding: 2%;
    width: 95%;
}
#contact{
    width: 65%;
}

#submit{
    width: 100%;
    padding: 3%;
    background: #13bef0;
    color: #FFF;
    border-radius: 5px;
}
#submit:hover{
  color: #112092;
}

.blue-link{
    color: #ed9b2d;
    
}
 #normal-doctor-signup{
    text-decoration: none;
}
#joinPracto{
    /* width: 30%; */
    padding:  2px 15px;
}
#doctor{
/* width: 30%; */
padding: 2px 20px;
font-size: small;
}
.blue-link{
    /* width: 40%; */
    padding: 2px 12px;
} 

#titlePartOfLoginPage{
    display: flex;
    border-bottom: 1px solid rgb(216, 213, 213);
}
#loginPageRight{
    /* border: 1px solid rgb(212, 211, 211); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#iAgree{
    font-size: x-small;
    padding: 2% 7%;
    color: #868699;
}

#iAgree > a{
    text-decoration: none;
    color: #00d9ff;
}
#indented-checkbox-text{
  margin-left: 2em;
  display: block;
  position: relative;
 
}
#indented-checkbox-text{
    display: inline-block;
}