body {
  font-family: Camphor, sans-serif;
  font-weight: 400;
  line-height: 1;
}

#firstFold {
  border: 1px solid red;
  height: 419px;
  background-color: #f8e9e6;
}

.innerDiv {
  margin-bottom: 16 px;
  padding: 60 px 68 px 0 50 px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280 px;
  width: 100%;
}
