body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  height: 60px;
  border: 1px solid red;
}
.patient_looking_doctor {
  border: 1px solid green;
  background-color: rgb(40, 50, 140);
  height: 650px;
  display: flex;
  gap: 100px;
}
#createAccount {
  height: 75%;
  width: 35%;
  margin-left: 8%;
  margin-top: 40px;
  border: 1px solid green;
}
#createAccount > #createAccount_heading {
  color: white;
  font-size: 40px;
  margin-top: 0%;
}
#subheading {
  color: white;
  font-weight: lighter;
  line-height: 30px;
}
.firstStep {
  color: white;
  font-weight: lighter;
}
.name {
  color: white;
  font-size: 13px;
  padding-top: 10px;
}
.fullname {
  height: 35px;
  width: 85%;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
#continue_button {
  height: 38px;
  background-color: rgb(255, 160, 0);
  color: white;
  width: 85%;
  border-radius: 5px;
  outline: none;
  border: none;
}
.login {
  color: rgb(255, 160, 0);
}

#looking_doctor_img_div {
  border: 1px solid green;
  height: 75%;
  width: 45%;
  margin-top: 40px;
}
#looking_doctor_img_div > img {
  height: 98%;
  width: 98%;
}
.editProfile {
  height: 600px;
  width: 100%;
  border: 1px solid blue;
  display: flex;
  gap: 110px;
}
.edit_profile_img_div {
  height: 80%;
  width: 25%;
  border: 1px solid brown;
  margin-left: 15%;
  margin-top: 50px;
}
.edit_profile_img_div > img {
  height: 98%;
  width: 98%;
}
.edit_profile_data_div {
  border: 1px solid brown;
  height: 80%;
  margin-top: 50px;
  width: 40%;
  padding-top: 0%;
}
.main_heading {
  color: rgb(65, 65, 70);
  font-size: 37px;
}
.extra_info {
  font-size: 15px;
  font-weight: lighter;
  color: rgb(77, 77, 81);
}
#patient_feedback_div {
  height: 600px;
  width: 100%;
  background-color: rgb(240, 240, 245);
  display: flex;
  gap: 120px;
}
#patient_feedback_div > .feedback_data {
  border: 1px solid red;
  height: 60%;
  width: 33%;
  margin-top: 50px;
  margin-left: 9%;
}
.feedback_img_div {
  border: 1px solid red;
  height: 65%;
  width: 40%;
  margin-top: 50px;
}
.feedback_img_div > img {
  height: 98%;
  width: 98%;
}
#improve_prof_div {
  height: 550px;
  width: 100%;
  border: 1px solid rebeccapurple;
  display: flex;
  gap: 70px;
}
#improve_prof_div > .improve_prof_img {
  border: 1px solid red;
  height: 75%;
  width: 40%;
  margin-top: 50px;
  margin-left: 9%;
}
.improve_prof_img > img{
    height: 98%;
    width: 98%;
}
.improve_prof_data{
    border: 1px solid red;
    height: 65%;
    width: 40%; 
    margin-top: 50px;
}
#simple_steps_div{
    height: 580px;
    width: 100%;
   background-color: rgb(240,240,245) ;
  
}
#heading_section{
    /* margin-top: 50px; */
  margin-left: 9%;
  border: 1px solid tomato;
}
.info_details{
    border: 1px solid tomato;
    width: 80%;
    height: 300px;
    margin-left: 9%;
    display: flex;
    gap: 100px;
}
.flex_divs{
    height: 98%;
    width: 26%;
    border: 1px solid green;
}
.icon{
    height: 300px;
    width: 100px;color: rgb(43,53,137);
}
