body {
    margin:0px;
    padding:0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 100 vh;
    min-width: 100 vw;
    color: #414146;
    text-rendering: auto;
    scroll-behavior: smooth;
  }
  
  
  /* blue div section  */
  #app {
    font-family: Helvetica, Arial, sans-serif;
    width: 83%;
    margin: auto;
  }
  
 
  
  .care-app .dweb-header {
    background: linear-gradient(105.21deg, #3743ab 4.62%, #141b56 94.13%);
    min-height: 700 px;
    margin-bottom: 100 px;
    position: relative;
  }
  
  * {
    user-select: none;
    box-sizing: border-box;
  }
 
  .care-app {
    
    margin: auto;
    color: #2d2d32;
    line-height: 1.2;
    max-width: 1280 px;
  }
 

  
  /* left part of blue portion  */
  
  .care-app .dweb-header .blueContainerWrapper .left-section {
    width: 48%;
    display: flex;
    padding: 110px;
    flex-direction: column;
    
  }
  
  
  .care-app .dweb-header .blueContainerWrapper .left-section  {
    height: 65 px;
  }
  
  .practo-care > img{
    height:60px;
    width:70%
  }
  .care-app .dweb-header .blueContainerWrapper .left-section .info {
    color: #fff;
    margin-top: 65 px;
    margin-bottom: 100 px;
  }
  
  .care-app .dweb-header .blueContainerWrapper .left-section .info .heading {
    font-size: 44px;
    font-weight: 700;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .care-app .dweb-header .blueContainerWrapper .left-section .info .separator {
    border: 2 px solid #fff;
    height: 0px;
    width: 50 px;
    margin: 30 px 0;
    border-radius: 16 px;
  }
  
  .care-app  .dweb-header .blueContainerWrapper .left-section .info .subheading {
    font-size: 20px;
    line-height: 28px;
    max-width: 380 px;
  }
  
  .care-app .dweb-header .blueContainerWrapper .call-cta {
    text-align: center;
    padding: 14px;
    background-color: #fff;
    color: #2d2d32;
    width: 380 px;
    z-index: 2;
    font-weight: 700;
    border-radius: 8 px;
  }
  
  
  .call-cta{
    padding :18px;
    width: 100%;
    margin: auto;
    border-radius:8px;
    
  }
  /* right section of blue part */
  .care-app .dweb-header .blueContainerWrapper .right-section {
    width: 52%;
    position: relative;
  }
  
  .care-app .dweb-header .blueContainerWrapper .right-section .remarks {
    color: #fff;
    /* position: absolute; */
    bottom: 20px;
    left: 50px;
    z-index: 1;
    line-height: 34px;
  }
  .care-app .dweb-header .blueContainerWrapper .right-section .remarks .row-1 {
    font-size: 24px;
    font-weight: 700;
    
  }
  
  .care-app .dweb-header .blueContainerWrapper .right-section .remarks .row-2 {
    font-size: 18px;
  }
  
  .care-app .dweb-header .blueContainerWrapper .right-section .remarks {
    color: #fff;
  }
  
  /* bottom side of blue part */
  
  .care-app .dweb-header:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    height: 200 px;
   
    background: linear-gradient(180deg, rgba(27, 34, 101, 0), #192061 106.23%);
  }
  
  .care-app .dweb-header:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    height: 200 px;
    background: linear-gradient(180deg, rgba(27, 34, 101, 0), #192061 106.23%);
  }
  
  /* styling for main div of blue part */
  
  .care-app .dweb-header .blueContainerWrapper {
    width: 100%;
    display: flex;
  }
  
  